<div class="page-wrapper">
  <div class="login-container">
    <h2>Авторизация</h2>


    <div class="auth">
        <div class="form-group">
            <label>Логин</label>
            <br>
            <input 
                type="text"
                [(ngModel)]="authUser.login"
                placeholder="Введите логин"
                class="form-control"
                required>
        </div>

        <div class="form-group">
            <label>Пароль</label>
            <br>
            <input 
                type="password"
                [(ngModel)]="authUser.password"
                placeholder="Введите пароль"
                class="form-control"
                required>
        </div>
        <br>
        <div class="button-group">
                <button class="btn-primary" (click)="auth()">Авторизоваться</button>
                <button class="btn-secondary" (click)="cancelForm()">Очистить</button>
        </div>

    </div>

    <div class="message-box">
        <div *ngIf="isLoading" class="loading">Загрузка...</div>
        <div *ngIf="!isLoading && errorMessage" class="error">{{ errorMessage }}</div>
        <div *ngIf="!isLoading && successMessage" class="success">{{ successMessage }}</div>
    </div>
    
  </div>
</div>